@import url(https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&display=swap');
* {
    margin: 0;
    padding: 0;
}

:root {

    --color-primario: #F3F5FC;
    --color-secundario: #0A3871;
    --color-terciario: #495057;
    --color-white: #FFFFFF;
    --color-blue: #D8DFE8;
    --fuente-inter: 'Inter', sans-serif;

}

.container__principal {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-primario);
}

.input__usuario {
    position: absolute;
    width: 42%;
    height: 55%;
    left: 12%;
    top: 15%;
    border: none;
    font-family: var(--fuente-inter);
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 150%;
    color: var(--color-secundario);
    background-color: var(--color-primario);
    resize: none;
}

.input__usuario::placeholder {
    font-family: var(--fuente-inter);
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 150%;
    color: var(--color-secundario);
}

.input__usuario:focus,
.input__usuario:active {
    border: none;
    outline: none;
}

.advertencia {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 8px;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 70%;
}

.advertencia p {
    font-family: var(--fuente-inter);
    font-style: normal;
    font-weight: 400;
    font-size: 0.75rem;
    color: var(--color-terciario);
    line-height: 150%;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.botones {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1% 0;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 75%;
}

.btn__encriptar {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2%;
    gap: 8px;
    width: 328px;
    height: 67;
    background-color: var(--color-secundario);
    border-radius: 24px;
    font-family: var(--fuente-inter);
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    color: var(--color-white);
    line-height: 19px;
    text-align: center;
    border: none;
    margin-right: 24px;
}

.btn__desencriptar {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2%;
    gap: 8px;
    width: 328px;
    height: 67;
    background-color: var(--color-blue);
    border-radius: 24px;
    font-family: var(--fuente-inter);
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    color: var(--color-secundario);
    line-height: 19px;
    text-align: center;
    border: 1px solid var(--color-secundario);
}

.btn__encriptar {
    
    transition: all 0.2s ease-in-out;
}

.btn__encriptar:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.btn__desencriptar {

    transition: all 0.2s ease-in-out;
}

.btn__desencriptar:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.resultado {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 25%;
    height: 80%;
    right: 40px;
    top: 5%;
    background: #ffffff;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    
}

.texto__inicial {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    gap: 16px;
    position: absolute;
    width: 100%;
    height: 76%;
    top: 5%;
    text-align: center;
    
}

.texto__inicial h2 {
    width: 60%;
    font-family: var(--fuente-inter);
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 120%;
    text-align: center;
    color: #343A40;
    top: 1%;
    position: absolute;
    
}

.texto__inicial p {
    max-width: 100%;
    width: 80%;
    font-family: var(--fuente-inter);
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
    text-align: center;
    color: #495057;
    top: 5%;
    height: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-wrap: break-word; 
    position: relative;
    ;
   
}

.resultado img {
    position: absolute;
    width: 85%;
    height: 45%;
    top: 30%;
}

.resultado p{
    overflow-y: auto; /* habilita el scrolling vertical */
    max-width: 100%; /* establece un ancho máximo del 100% */
    text-align: left; /* alinea el texto a la izquierda */
    word-wrap: break-word; /* habilita el wrapping de texto */

}

.pie{
    width: 100%;
    font-family:monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 120%;
    color: #343A40;
}

.pie h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2px;
    
}

.encabezado{
    
    width: 100%;
    height: 30%;
    font-family: var(--fuente-inter);
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 120%;
    color: #0A3871;
    margin-bottom: 10px;
    margin-top: 10px;
    
}

.encabezado h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2px;
    text-align: center;
}

.encabezado img{
    position: absolute;
    width: 4%;
    height: 3%;
    margin-bottom:5px;
    margin-top: 1px;

    
}

.btn__copiar {
    width: 328px;
    height: 67px;
    background-color: var(--color-blue);
    border-radius: 24px;
    font-family: var(--fuente-inter);
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    color: var(--color-secundario);
    line-height: 19px;
    text-align: center;
    border: 1px solid var(--color-secundario);
    transition: all 0.2s ease-in-out;
    margin-top: 540px;
    margin-bottom: 32px;
}

.btn__copiar:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.resultado img.ocultar{
    display: none;
    visibility: hidden;
}




   

  


/* Responsivo */
@media (max-width: 67.5em) {
    .container__principal {
        display: flex;
        flex-direction: row;
    }

    .area__texto {
        width: 100%;
    }

    .input__usuario {
        width: 80%;
        height: 25%; !important
        left: 10%;
    
    }

    .advertencia {
        width: 80%;
        left: 10%;
        top: 50%;
    }

    .advertencia p {
        font-size: 1rem;
    }

    .botones{
        width: 80%;
        left: 10%;
        top: 53%;
    }

    .btn__encriptar{
        width: 48%;
        border-radius: 16px;
    }

    .btn__desencriptar{
        width: 48%;
        border-radius: 16px;
    }

    .btn__encriptar:hover,.btn__desencriptar:hover,.btn__copiar:hover{
        margin: 0,3%;
        padding: 1.8%;
        width: 47.5%;
    }

    .resultado{
        width: 80%;
        height: 30%;
        left: 10%;
        top: 60%;
        margin-bottom: 20px;
    }

    .texto__inicial{
        width: 100%;
        top: 5%;
    }

    .resultado img{
       top:0;
       display: none; 
       visibility: hidden;
    }

    .resultado h2{
        
    }

    .resultado p{
        margin-top: 30px;
    }

    .encabezado h1{
        width: 100%;
        top: 5%;
    }

    .encabezado img {
        top:0;
        display: none; 
        visibility: hidden;
    }

    .btn__copiar {
        width: 328px; /* ancho fijo en pixeles */
        height: 35px;
        border-radius: 32px;
        margin-top: 85%;

        }
    
    .pie {
            margin-top: 20px;
            }

    

}