@import url(https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap);

* {
    margin: 0;
    padding: 0;
}

:root {

    --color-primario: #F3F5FC;
    --color-secundario: #0A3871;
    --color-terciario: #495057;
    --color-white: #FFFFFF;
    --color-blue: #D8DFE8;
    --fuente-inter: 'Inter', sans-serif;

}

.container__principal {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-primario);
}

.input__usuario {
    position: absolute;
    width: 42%;
    height: 60%;
    left: 12%;
    top: 15%;
    border: none;
    font-family: var(--fuente-inter);
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 150%;
    color: var(--color-secundario);
    background-color: var(--color-primario);
}

.input__usuario::placeholder {
    font-family: var(--fuente-inter);
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 150%;
    color: var(--color-secundario);
}

.input__usuario:focus,
.input__usuario:active {
    border: none;
    outline: none;
}

.advertencia {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 8px;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 80%;
}

.advertencia p {
    font-family: var(--fuente-inter);
    font-style: normal;
    font-weight: 400;
    font-size: 0.75rem;
    color: var(--color-terciario);
    line-height: 150%;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.botones {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1% 0;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 82%;
}

.btn__encriptar {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2%;
    gap: 8px;
    width: 328px;
    height: 67;
    background-color: var(--color-secundario);
    border-radius: 24px;
    font-family: var(--fuente-inter);
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    color: var(--color-white);
    line-height: 19px;
    text-align: center;
    border: none;
    margin-right: 24px;
}

.btn__desencriptar {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2%;
    gap: 8px;
    width: 328px;
    height: 67;
    background-color: var(--color-blue);
    border-radius: 24px;
    font-family: var(--fuente-inter);
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    color: var(--color-secundario);
    line-height: 19px;
    text-align: center;
    border: 1px solid var(--color-secundario);
}

.btn__encriptar {
    /* ... */
    transition: all 0.2s ease-in-out;
}

.btn__encriptar:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.btn__desencriptar {
    /* ... */
    transition: all 0.2s ease-in-out;
}

.btn__desencriptar:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.resultado {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 30%;
    height: 90%;
    left: 60%;
    top: 5%;
    background: #ffffff;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.texto__inicial {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    gap: 16px;
    position: absolute;
    width: 100%;
    top: 65%;
    text-align: center;
}

.texto__inicial h2 {
    width: 60%;
    font-family: var(--fuente-inter);
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 120%;
    text-align: center;
    color: #343A40;
}

.texto__inicial p {
    width: 80%;
    font-family: var(--fuente-inter);
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
    text-align: center;
    color: #495057;
}

.resultado img{
    position: absolute;
    width: 85%;
    height: 45%;
    top: 15%;
}